<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <img style="width: 50%; margin: 0 auto;" src="img/lindell2.jpg" class="img-responsive img-circle" alt="">
                </div>
                <div class="col-md-10 col-md-offset-1 text-left" style="margin-top: 30px;">
                    <p class="large">	I'm a fourth-year Ph.D. student at Stanford University in the <a href="http://www.computationalimaging.org/">Computational Imaging Lab</a>. My work is at the intersection of optimization, machine learning, optics, and hardware. Along these lines I've been developing next-generation computational LIDAR systems and algorithms for <a href="https://www.youtube.com/watch?v=KnGQEzB9u_0"> imaging around corners</a>. I'm generally interested in problems in 3D imaging, inverse scattering, optimization, and computer vision, with a goal of developing computational methods to push the boundaries of current imaging capabilities. My work is relevant to a broad range of applications including autonomous vehicle navigation, medical imaging, remote sensing, and robotic vision. 
</p>
                </div>
            </div>
    </section>
