<!-- About Section -->
    <section id="education">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education</h2>
                </div>
            </div>
            <div class="row" style="margin-top: 40px;">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/su_logo.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2016 &#8211; Present</h4>
                                    <h4 class="subheading">Stanford University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ph.D. Electrical Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/byu_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015 &#8211; 2016</h4>
                                    <h4 class="subheading">Brigham Young University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">M.S. Electrical Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/education/byu_logo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 &#8211; 2015</h4>
                                    <h4 class="subheading">Brigham Young University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">B.S. Electrical Engineering</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
