<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <a class="site-title" href="{{ '/' | relative_url }}">
        {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}
      </a>
      <span class="nav-links">
        <a href="{{ '/' | relative_url }}" {% if page.title == 'about' %}class="active"{% endif %}>about</a>
        {% assign sorted_pages = site.pages | sort: "nav_order" %}
        {% for p in sorted_pages %}
          {% if p.nav and p.autogen == nil %}
            <a href="{{ p.url | relative_url }}" {% if page.title == p.title %}class="active"{% endif %}>{{ p.title }}</a>
          {% endif %}
        {% endfor %}
        <a href="{{ '/assets/pdf/cv.pdf' | relative_url }}">cv</a>
      </span>
    </nav>
  </div>
</header>
