<!--<div class="news">
  <h2>news</h2>
  {% if site.data.news  %}
  <div id="news_table" class="table">
    {% assign news = site.data.news %}
    {% for item in news limit: site.news_limit %}
    <div class="row">
      <div class="col-sm-2 abbr">
        <abbr class="badge news-title">
        {{ item.date | date: "%b %-d, %Y" }}
        </abbr>
      </div>

      <div id="{{entry.key}}" class="col-sm-8">
        {{ item.content | markdownify }}
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>
-->


<div class="news">
  <h2>news</h2>
  {% if site.data.news  %}
    <div class="table-responsive">
      <table id="news-table" class="table table-sm table-borderless">
          <thead style="display: none;"><th></th><th></th></thead>
      <tbody>
      {% assign news = site.data.news %}
      {% for item in news %}
        <tr>
          <td scope="row">
            <abbr class="badge news-title">
            {{ item.date | date: "%b %-d, %Y" }}
            </abbr>
          </td>
          <td>
              {{ item.content | markdownify }}
          </td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
