<div class="news-section">
  <h2>news</h2>
  {% if site.data.news %}
    <ul class="news-list">
      {% assign news = site.data.news %}
      {% for item in news %}
        <li class="news-item{% if forloop.index > site.news_limit %} news-hidden{% endif %}">
          <span class="news-date">{{ item.date | date: "%b %Y" }}</span>
          <span class="news-content">{{ item.content }}</span>
        </li>
      {% endfor %}
    </ul>
    {% if site.data.news.size > site.news_limit %}
      <a class="news-toggle" id="news-toggle" href="#">Show all news</a>
    {% endif %}
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
