<!-- Publication Section -->
    <section id="publication" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publications</h2>
                </div>
            </div>
        </div>


        <div class="container">
        {% for post in site.posts %}
            <a href="#publication-{{ post.modal-id }}" class="publication-item publication-link" data-toggle="modal">
                <div class="row publication-row">
                    <div class="col-md-3 center-block" style="max-width: 350px;">
                        <img src="img/publication/thumbnail/{{ post.thumbnail }}" class="img-responsive publication-img" alt="">
                    </div>
                    <div class="col-md-9">
                        <h4 class="publication-title">{{ post.title }}</h4>
                        <p class="name">{{ post.authors }}</p>
                        <p class="venue">{{ post.subtitle }}</p>

                        {% if post.brief %}
                        <p class="brief">{{ post.brief }}</p>
                        {% endif %}

                    </div>
                </div>
            </a>
            <hr>
        {% endfor %}
        </div>
    </section>
