/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 0;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

body.sticky-bottom-footer {
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}

h1 { font-size: 1.75rem; font-weight: 700; margin-bottom: 0.5rem; }
h2 { font-size: 1.35rem; font-weight: 600; margin-bottom: 0.5rem; }
h3 { font-size: 1.15rem; font-weight: 600; }
