---
---

<div class="pub-entry">
  <div class="pub-thumbnail">
    {% if entry.html %}
      <a href="{% if entry.html contains '://' %}{{ entry.html }}{% else %}/publications/{{ entry.html }}{% endif %}">
    {% else %}
      <a href="{{ entry.pdf }}">
    {% endif %}
      {% if entry.thumbnail contains '.gif' %}
        {% assign static_thumb = entry.thumbnail | replace: '.gif', '.png' %}
        <img src="/assets/img/publication/thumbnail/{{ static_thumb }}" data-gif="/assets/img/publication/thumbnail/{{ entry.thumbnail }}" class="publication-img gif-hover" alt="{{ entry.title }}">
      {% else %}
        <img src="/assets/img/publication/thumbnail/{{ entry.thumbnail }}" class="publication-img" alt="{{ entry.title }}">
      {% endif %}
    </a>
  </div>

  <div class="pub-details" id="{{ entry.key }}">
    {% if entry.type == "thesis" %}
      {{ reference }}
    {% else %}
      <div class="pub-title">
        {% if entry.html %}
          <a href="{% if entry.html contains '://' %}{{ entry.html }}{% else %}/publications/{{ entry.html }}{% endif %}">{{ entry.title }}</a>
        {% else %}
          <a href="{{ entry.pdf }}">{{ entry.title }}</a>
        {% endif %}
      </div>
      <div class="pub-authors">
        {% for author in entry.author_array %}
          {% if author.last == site.scholar.last_name %}
            <strong>{{ author.first }} {{ author.last }}</strong>{% unless forloop.last %},{% endunless %}
          {% else %}
            {% if site.data.coauthors[author.last] %}
              <a href="{{ site.data.coauthors[author.last].url }}" target="_blank">{{ author.first }} {{ author.last }}</a>{% unless forloop.last %},{% endunless %}
            {% else %}
              {{ author.first }} {{ author.last }}{% unless forloop.last %},{% endunless %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="pub-venue">
        {% if entry.type == "article" %}<em>{{ entry.journal }}</em>{% elsif entry.type == "inproceedings" %}<em>{{ entry.booktitle }}</em>{% endif %}{% if entry.year %}, {{ entry.year }}{% endif %}
        {% if entry.note %} <span class="pub-note">({{ entry.note }})</span>{% endif %}
      </div>
    {% endif %}

    <div class="pub-links">
      {% if entry.abstract %}<a class="abstract pub-link" role="button">abs</a>{% endif %}
      {% if entry.arxiv %}<a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="pub-link" target="_blank">arxiv</a>{% endif %}
      {% if entry.html %}
        <a href="{% if entry.html contains '://' %}{{ entry.html }}{% else %}/publications/{{ entry.html }}{% endif %}" class="pub-link" target="_blank">project</a>
      {% endif %}
      {% if entry.pdf %}
        <a href="{% if entry.pdf contains '://' %}{{ entry.pdf }}{% else %}{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-link" target="_blank">pdf</a>
      {% endif %}
      {% if entry.supp %}
        <a href="{% if entry.supp contains '://' %}{{ entry.supp }}{% else %}{{ entry.supp | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-link" target="_blank">supp</a>
      {% endif %}
      {% if entry.video %}<a href="{{ entry.video }}" class="pub-link" target="_blank">video</a>{% endif %}
      {% if entry.code %}<a href="{{ entry.code }}" class="pub-link" target="_blank">code</a>{% endif %}
      {% if entry.poster %}
        <a href="{% if entry.poster contains '://' %}{{ entry.poster }}{% else %}{{ entry.poster | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-link" target="_blank">poster</a>
      {% endif %}
      {% if entry.slides %}
        <a href="{% if entry.slides contains '://' %}{{ entry.slides }}{% else %}{{ entry.slides | prepend: '/assets/pdf/' | relative_url }}{% endif %}" class="pub-link" target="_blank">slides</a>
      {% endif %}
      {% if entry.blog %}<a href="{{ entry.blog }}" class="pub-link" target="_blank">blog</a>{% endif %}
      {% if entry.website %}<a href="{{ entry.website }}" class="pub-link" target="_blank">website</a>{% endif %}
    </div>

    {% if entry.abstract %}
    <div class="abstract hidden">
      <p>{{ entry.abstract }}</p>
    </div>
    {% endif %}
  </div>
</div>
