---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

</div>

<div class="publications">

{% for y in page.years %}
  <div class="row">
    <div class="col-sm-12">
      <h2 class="year">{{y}}</h2>
    </div>
  </div>

  <ol class="bibliography">
  {% for entry in site.posts %}
    {% if entry.iscourse and entry.term contains y %}
      <li>
      <div class="row">
        <div class="col-sm-4 center-block">
          <a href="{{ entry.permalink }}">
          <img src="/assets/img/course/{{ entry.thumbnail }}" class="img-responsive publication-img" alt="">
          </a>
        </div>
        <div id="{{entry.key}}" class="col-sm-8">
            <div class="title"><a href="{{entry.permalink}}">{{entry.title}}</a></div>
            <div class="author"><p>{{ entry.content }}</p></div>
            <div><p><em>{{ entry.term }}</em></p></div>
        </div>
      </div>
      </li>
    {% endif %}

  {% endfor %}
  </ol>

{% endfor %}
